@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass {
    @apply w-[px] h-[px] shadow-[20px_20px_100px_rgba(0,0,0,0.02)] backdrop-blur-[75px] rounded-[15px];
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  }
  .button-black {
    @apply bg-black h-12 mx-auto text-white rounded-[5px] text-lg;
  }
  .button-shadow {
    @apply shadow-[4px_4px_4px_rgba(0,0,0,0.25)];
  }
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}
