body {
  background: #000;
}

button,
a {
  unset: all;
  border: none;
  text-decoration: none;
  font-family: "Verdana";
  font-size: 14px;
  background: #fff;
  color: #000;
  padding: 3px 5px;
  width: 75px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
}

button:hover,
a:hover {
  background: #ccc;
}

button:active,
a:active {
  background: #00a;
  color: #fff;
}
